<html layout:decorate="~{layout}" class="relative">
<div layout:fragment="content" class="container my-3 mx-auto">
    <div class="background_img object-fill opacity-70 relative">
        <img th:src="@{/img/car.png}" alt="car_image" style="width: 390px; height: 700px;">
        <div class="absolute top-0 left-1/2 transform -translate-x-1/2 pt-4">
            <a th:href="@{/hellocar/home}">
                <img th:src="@{/img/logo2.png}" alt="로고" class="w-26 h-16"></a>
        </div>
        <a href="#">
            <div class="absolute top-24 left-1/2 transform -translate-x-1/2 p-6 bg-white bg-opacity-80 border border-gray-200 rounded-3xl shadow"
                 style="width: 300px; height: 260px;">
                <img th:src="@{/img/car1.png}" alt="car_image" class="object-cover w-60 h-24 mx-auto">
                <h5 class="mb-20 mt-8 text-4xl font-semibold tracking-tight text-black-900 text-center">모델 검색하기</h5>
            </div>
        </a>
    </div>
</div>
</html>