<html layout:decorate="~{layout}" class="relative">
<div layout:fragment="content" class="container">
    <img src="../img/logo1.png" class="h-16 w-26 object-cover mx-auto my-6">
    <div class=" w-3/5 mx-auto">
        <form class="flex items-center mb-6">
            <label for="simple-search" class="sr-only">검색</label>
            <div class="relative w-full">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                         viewBox="0 0 18 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M3 5v10M3 5a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm0 10a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm12 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm0 0V6a3 3 0 0 0-3-3H9m1.5-2-2 2 2 2"/>
                    </svg>
                </div>
                <input type="text" id="simple-search"
                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5"
                       placeholder="차량 검색" required>
            </div>
            <button type="submit"
                    class="p-2.5 ms-2 text-sm font-medium text-white bg-[#f3651f] rounded-lg border focus:ring-4 focus:outline-none">
                <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                     viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                </svg>
                <span class="sr-only">Search</span>
            </button>
        </form>
        <!--아코디언 시작-->
        <div id="accordion-flush" data-accordion="collapse" class="w-5/6 mx-auto"
             data-active-classes="bg-white text-gray-900"
             data-inactive-classes="text-gray-500">
            <h2 id="accordion-flush-heading-1">
                <button type="button"
                        class="flex items-center justify-between w-full py-5 font-bold rtl:text-right text-gray-500 border-b border-gray-200 gap-3"
                        data-accordion-target="#accordion-flush-body-1" aria-expanded="false"
                        aria-controls="accordion-flush-body-2">
                    <span>제조사 및 모델</span>
                    <div class="text-white bg-[#f3651f] focus:outline-none focus:ring-4 focus:ring-yellow-300 font-medium text-bold px-1.5 text-center rounded">
                        +
                    </div>
                </button>
            </h2>
            <div id="accordion-flush-body-1" class="hidden" aria-labelledby="accordion-flush-heading-1">
                <div class="grid grid-cols-2 md:grid-cols-2 gap-4">
                    <div class="max-w-sm bg-white border border-[#f3651f] rounded-lg shadow-md">
                        <button type="button"
                                class="focus:outline-none text-white pb-2 focus:ring-4 focus:ring-[#f3651f] font-medium rounded-lg text-sm">
                            <img class="rounded-t-lg" src="../img/logo1.png" alt=""/>
                        </button>
                    </div>
                    <div class="max-w-sm bg-white border border-[#f3651f] rounded-lg shadow-md">
                        <button type="button"
                                class="focus:outline-none text-white pb-2 focus:ring-4 focus:ring-[#f3651f] font-medium rounded-lg text-sm">
                            <img class="rounded-t-lg" src="../img/logo1.png" alt=""/>
                        </button>
                    </div>
                    <div class="max-w-sm bg-white border border-[#f3651f] rounded-lg shadow-md">
                        <button type="button"
                                class="focus:outline-none text-white pb-2 focus:ring-4 focus:ring-[#f3651f] font-medium rounded-lg text-sm">
                            <img class="rounded-t-lg" src="../img/logo1.png" alt=""/>
                        </button>
                    </div>
                    <div class="max-w-sm bg-white border border-[#f3651f] rounded-lg shadow-md">
                        <button type="button"
                                class="focus:outline-none text-white pb-2 focus:ring-4 focus:ring-[#f3651f] font-medium rounded-lg text-sm">
                            <img class="rounded-t-lg" src="../img/logo1.png" alt=""/>
                        </button>
                    </div>
                    <div class="max-w-sm bg-white border border-[#f3651f] rounded-lg shadow-md">
                        <button type="button"
                                class="focus:outline-none text-white pb-2 focus:ring-4 focus:ring-[#f3651f] font-medium rounded-lg text-sm">
                            <img class="rounded-t-lg" src="../img/logo1.png" alt=""/>
                        </button>
                    </div>
                    <div class="max-w-sm bg-white border border-[#f3651f] rounded-lg shadow-md">
                        <button type="button"
                                class="focus:outline-none text-white pb-2 focus:ring-4 focus:ring-[#f3651f] font-medium rounded-lg text-sm">
                            <img class="rounded-t-lg" src="../img/logo1.png" alt=""/>
                        </button>
                    </div>
                    <div class="col-span-2 md:col-span-2 bg-white border border-[#f3651f] rounded-lg shadow-md">
                        <button type="button"
                                class="grid justify-center items-center grid-cols-2 md:grid-cols-2 focus:outline-none pb-2 focus:ring-4 focus:ring-[#f3651f] font-medium rounded-lg text-sm">
                            <div>
                                <p class="text-2xl">기타 차량</p>
                            </div>
                            <img class="rounded-t-lg" src="../img/logo1.png" alt=""/>
                        </button>
                    </div>
                </div>

            </div>
            <div id="accordion-flush-body-2" class="hidden" aria-labelledby="accordion-flush-heading-2">
                <div id="map" style="width: 500px; height: 400px;" class="mx-auto m-5"></div>
            </div>
            <h2 id="accordion-flush-heading-3">
                <button type="button"
                        class="flex items-center justify-between w-full py-5 font-bold rtl:text-right text-gray-500 border-b border-gray-200 gap-3"
                        data-accordion-target="#accordion-flush-body-3" aria-expanded="false"
                        aria-controls="accordion-flush-body-3">
                    <span>연식</span>
                    <div class="text-white bg-[#f3651f] focus:outline-none focus:ring-4 focus:ring-yellow-300 font-medium text-bold px-1.5 text-center rounded">
                        +
                    </div>
                </button>
            </h2>
            <div id="accordion-flush-body-3" class="hidden" aria-labelledby="accordion-flush-heading-3">
                <ul class="h-48 px-3 pb-3 overflow-y-auto text-sm text-gray-700"
                    aria-labelledby="dropdownSearchButton">
                    <li>
                        <div class="flex items-center ps-2 rounded hover:bg-gray-100">
                            <input id="red" name="red" type="checkbox" value="레드"
                                   class="w-4 h-4 text-red-700 bg-gray-100 border-gray-300 rounded focus:ring-red-800 focus:ring-2">
                            <label for="red"
                                   class="w-full py-2 ms-2 text-base font-medium text-gray-900 rounded">레드</label>
                        </div>
                    </li>
                    <li>
                        <div class="flex items-center ps-2 rounded hover:bg-gray-100">
                            <input id="white" name="white" type="checkbox" value="화이트"
                                   class="w-4 h-4 text-red-700 bg-gray-100 border-gray-300 rounded focus:ring-red-800 focus:ring-2">
                            <label for="white"
                                   class="w-full py-2 ms-2 text-base font-medium text-gray-900 rounded">화이트</label>
                        </div>
                    </li>
                    <li>
                        <div class="flex items-center ps-2 rounded hover:bg-gray-100">
                            <input id="rose" name="rose" type="checkbox" value="로제"
                                   class="w-4 h-4 text-red-700 bg-gray-100 border-gray-300 rounded focus:ring-red-800 focus:ring-2">
                            <label for="rose"
                                   class="w-full py-2 ms-2 text-base font-medium text-gray-900 rounded">로제</label>
                        </div>
                    </li>
                    <li>
                        <div class="flex items-center ps-2 rounded hover:bg-gray-100">
                            <input id="sparkling" name="sparkling" type="checkbox" value="스파클링"
                                   class="w-4 h-4 text-red-700 bg-gray-100 border-gray-300 rounded focus:ring-red-800 focus:ring-2">
                            <label for="sparkling"
                                   class="w-full py-2 ms-2 text-base font-medium text-gray-900 rounded">스파클링</label>
                        </div>
                    </li>
                    <li>
                        <div class="flex items-center ps-2 rounded hover:bg-gray-100">
                            <input id="fortified" name="fortified" type="checkbox" value="주정강화"
                                   class="w-4 h-4 text-red-700 bg-gray-100 border-gray-300 rounded focus:ring-red-800 focus:ring-2">
                            <label for="fortified"
                                   class="w-full py-2 ms-2 text-base font-medium text-gray-900 rounded">주정강화</label>
                        </div>
                    </li>
                </ul>
            </div>
            <h2 id="accordion-flush-heading-6">
                <button type="button"
                        class="flex items-center justify-between w-full py-5 font-bold rtl:text-right text-gray-500 border-b border-gray-200 gap-3"
                        data-accordion-target="#accordion-flush-body-6" aria-expanded="false"
                        aria-controls="accordion-flush-body-6">
                    <span>차종</span>
                    <div class="text-white bg-[#f3651f] focus:outline-none focus:ring-4 focus:ring-yellow-300 font-medium text-bold px-1.5 text-center rounded">
                        +
                    </div>
                </button>
            </h2>
            <div id="accordion-flush-body-6" class="hidden" aria-labelledby="accordion-flush-heading-6">
                <ul class="h-48 px-3 pb-3 overflow-y-auto text-sm text-gray-700"
                    aria-labelledby="dropdownSearchButton">
                    <li>
                        <div class="flex items-center ps-2 rounded hover:bg-gray-100">
                            <input id="red" name="red" type="checkbox" value="레드"
                                   class="w-4 h-4 text-red-700 bg-gray-100 border-gray-300 rounded focus:ring-red-800 focus:ring-2">
                            <label for="red"
                                   class="w-full py-2 ms-2 text-base font-medium text-gray-900 rounded">레드</label>
                        </div>
                    </li>
                    <li>
                        <div class="flex items-center ps-2 rounded hover:bg-gray-100">
                            <input id="white" name="white" type="checkbox" value="화이트"
                                   class="w-4 h-4 text-red-700 bg-gray-100 border-gray-300 rounded focus:ring-red-800 focus:ring-2">
                            <label for="white"
                                   class="w-full py-2 ms-2 text-base font-medium text-gray-900 rounded">화이트</label>
                        </div>
                    </li>
                    <li>
                        <div class="flex items-center ps-2 rounded hover:bg-gray-100">
                            <input id="rose" name="rose" type="checkbox" value="로제"
                                   class="w-4 h-4 text-red-700 bg-gray-100 border-gray-300 rounded focus:ring-red-800 focus:ring-2">
                            <label for="rose"
                                   class="w-full py-2 ms-2 text-base font-medium text-gray-900 rounded">로제</label>
                        </div>
                    </li>
                    <li>
                        <div class="flex items-center ps-2 rounded hover:bg-gray-100">
                            <input id="sparkling" name="sparkling" type="checkbox" value="스파클링"
                                   class="w-4 h-4 text-red-700 bg-gray-100 border-gray-300 rounded focus:ring-red-800 focus:ring-2">
                            <label for="sparkling"
                                   class="w-full py-2 ms-2 text-base font-medium text-gray-900 rounded">스파클링</label>
                        </div>
                    </li>
                    <li>
                        <div class="flex items-center ps-2 rounded hover:bg-gray-100">
                            <input id="fortified" name="fortified" type="checkbox" value="주정강화"
                                   class="w-4 h-4 text-red-700 bg-gray-100 border-gray-300 rounded focus:ring-red-800 focus:ring-2">
                            <label for="fortified"
                                   class="w-full py-2 ms-2 text-base font-medium text-gray-900 rounded">주정강화</label>
                        </div>
                    </li>
                </ul>
            </div>
            <h2 id="accordion-flush-heading-4">
                <button type="button"
                        class="flex items-center justify-between w-full py-5 font-bold rtl:text-right text-gray-500 border-b border-gray-200 gap-3"
                        data-accordion-target="#accordion-flush-body-4" aria-expanded="false"
                        aria-controls="accordion-flush-body-4">
                    <span>가격대</span>
                    <div class="text-white bg-[#f3651f] focus:outline-none focus:ring-4 focus:ring-yellow-300 font-medium text-bold px-1.5 text-center rounded">
                        +
                    </div>
                </button>
            </h2>
            <div id="accordion-flush-body-4" class="hidden" aria-labelledby="accordion-flush-heading-4">
                <ul class="h-48 px-3 pb-3 overflow-y-auto text-sm text-gray-700"
                    aria-labelledby="dropdownSearchButton">
                    <li>
                        <div class="flex items-center ps-2 rounded hover:bg-gray-100">
                            <input id="red" name="red" type="checkbox" value="레드"
                                   class="w-4 h-4 text-red-700 bg-gray-100 border-gray-300 rounded focus:ring-red-800 focus:ring-2">
                            <label for="red"
                                   class="w-full py-2 ms-2 text-base font-medium text-gray-900 rounded">레드</label>
                        </div>
                    </li>
                    <li>
                        <div class="flex items-center ps-2 rounded hover:bg-gray-100">
                            <input id="white" name="white" type="checkbox" value="화이트"
                                   class="w-4 h-4 text-red-700 bg-gray-100 border-gray-300 rounded focus:ring-red-800 focus:ring-2">
                            <label for="white"
                                   class="w-full py-2 ms-2 text-base font-medium text-gray-900 rounded">화이트</label>
                        </div>
                    </li>
                    <li>
                        <div class="flex items-center ps-2 rounded hover:bg-gray-100">
                            <input id="rose" name="rose" type="checkbox" value="로제"
                                   class="w-4 h-4 text-red-700 bg-gray-100 border-gray-300 rounded focus:ring-red-800 focus:ring-2">
                            <label for="rose"
                                   class="w-full py-2 ms-2 text-base font-medium text-gray-900 rounded">로제</label>
                        </div>
                    </li>
                    <li>
                        <div class="flex items-center ps-2 rounded hover:bg-gray-100">
                            <input id="sparkling" name="sparkling" type="checkbox" value="스파클링"
                                   class="w-4 h-4 text-red-700 bg-gray-100 border-gray-300 rounded focus:ring-red-800 focus:ring-2">
                            <label for="sparkling"
                                   class="w-full py-2 ms-2 text-base font-medium text-gray-900 rounded">스파클링</label>
                        </div>
                    </li>
                    <li>
                        <div class="flex items-center ps-2 rounded hover:bg-gray-100">
                            <input id="fortified" name="fortified" type="checkbox" value="주정강화"
                                   class="w-4 h-4 text-red-700 bg-gray-100 border-gray-300 rounded focus:ring-red-800 focus:ring-2">
                            <label for="fortified"
                                   class="w-full py-2 ms-2 text-base font-medium text-gray-900 rounded">주정강화</label>
                        </div>
                    </li>
                </ul>
            </div>
            <h2 id="accordion-flush-heading-5">
                <button type="button"
                        class="flex items-center justify-between w-full py-5 font-bold rtl:text-right text-gray-500 border-b border-gray-200 gap-3"
                        data-accordion-target="#accordion-flush-body-5" aria-expanded="false"
                        aria-controls="accordion-flush-body-5">
                    <span>사이즈</span>
                    <div class="text-white bg-[#f3651f] focus:outline-none focus:ring-4 focus:ring-yellow-300 font-medium text-bold px-1.5 text-center rounded">
                        +
                    </div>
                </button>
            </h2>
            <div id="accordion-flush-body-5" class="hidden" aria-labelledby="accordion-flush-heading-5">
                <ul class="h-48 px-3 pb-3 overflow-y-auto text-sm text-gray-700"
                    aria-labelledby="dropdownSearchButton">
                    <li>
                        <div class="flex items-center ps-2 rounded hover:bg-gray-100">
                            <input id="red" name="red" type="checkbox" value="레드"
                                   class="w-4 h-4 text-red-700 bg-gray-100 border-gray-300 rounded focus:ring-red-800 focus:ring-2">
                            <label for="red"
                                   class="w-full py-2 ms-2 text-base font-medium text-gray-900 rounded">레드</label>
                        </div>
                    </li>
                    <li>
                        <div class="flex items-center ps-2 rounded hover:bg-gray-100">
                            <input id="white" name="white" type="checkbox" value="화이트"
                                   class="w-4 h-4 text-red-700 bg-gray-100 border-gray-300 rounded focus:ring-red-800 focus:ring-2">
                            <label for="white"
                                   class="w-full py-2 ms-2 text-base font-medium text-gray-900 rounded">화이트</label>
                        </div>
                    </li>
                    <li>
                        <div class="flex items-center ps-2 rounded hover:bg-gray-100">
                            <input id="rose" name="rose" type="checkbox" value="로제"
                                   class="w-4 h-4 text-red-700 bg-gray-100 border-gray-300 rounded focus:ring-red-800 focus:ring-2">
                            <label for="rose"
                                   class="w-full py-2 ms-2 text-base font-medium text-gray-900 rounded">로제</label>
                        </div>
                    </li>
                    <li>
                        <div class="flex items-center ps-2 rounded hover:bg-gray-100">
                            <input id="sparkling" name="sparkling" type="checkbox" value="스파클링"
                                   class="w-4 h-4 text-red-700 bg-gray-100 border-gray-300 rounded focus:ring-red-800 focus:ring-2">
                            <label for="sparkling"
                                   class="w-full py-2 ms-2 text-base font-medium text-gray-900 rounded">스파클링</label>
                        </div>
                    </li>
                    <li>
                        <div class="flex items-center ps-2 rounded hover:bg-gray-100">
                            <input id="fortified" name="fortified" type="checkbox" value="주정강화"
                                   class="w-4 h-4 text-red-700 bg-gray-100 border-gray-300 rounded focus:ring-red-800 focus:ring-2">
                            <label for="fortified"
                                   class="w-full py-2 ms-2 text-base font-medium text-gray-900 rounded">주정강화</label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</html>