<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--  tailwind cd  -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!--  tailwind script  -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>
    <!--  css  -->
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <title>hellocar</title>
</head>
<body class="bg-dark mx-auto" style="width: 390px;">
<section class="bg-dark flex items-center justify-center bg-[#f3651f]" style="height: 844px;">
    <img src="../img/logo2.png" class="h-24 w-60 object-cover">
</section>
</body>
</html>