<html layout:decorate="~{layout}" class="relative">
<div layout:fragment="content" class="container my-3 mx-auto">
    <div class="background_img object-fill opacity-70 relative">
        <div class="absolute top-24 left-1/2 transform -translate-x-1/2 pt-4">
            <a th:href="@{/hellocar/home}">
                <img th:src="@{/img/logo.png}" alt="로고" class="w-60 h-20 object-cover"></a>

            <h5 class="login mb-20 mt-8 text-4xl tracking-tight text-black text-center">로그인</h5>
        </div>

    </div>
</div>
</html>
