@import '../app.css';

.model_search,
.application {
    font-family: "Gothic A1", sans-serif;
    font-weight: 800;
    font-style: normal;
    box-shadow: 10px 10px 10px #000000;
    border-radius: 70px;
    transition: transform 0.3s ease-in-out;
    transform-origin: center center;
    left: 50%;
    /* position: absolute; */
}

.model_search:hover {
    transform: scale(1.1) translateX(-45%);
    opacity: 0.8;
}

.model_search:hover,
.application:hover {
    transform: scale(1.1) translateX(-45%);
    opacity: 0.8;
}

.model_search > h5:hover,
.application > h5:hover {
    color: crimson;
}

.application {
    background-color: rgb(243, 101, 31);
    opacity: 90%;
}

.user_name_box {
    color: black;
    font-size: 18px;
}
.user_name {
    font-weight: bold;
}

/* 드래그 박스의 스타일 */
#external-events {
    position: fixed;
    left: 20px;
    top: 20px;
    width: 100px;
    padding: 0 10px;
    border: 1px solid #ccc;
    background: #eee;
    text-align: left;
}

#external-events h4 {
    font-size: 16px;
    margin-top: 0;
    padding-top: 1em;
}

#external-events .fc-event {
    margin: 3px 0;
    cursor: move;
}

#external-events p {
    margin: 1.5em 0;
    font-size: 11px;
    color: #666;
}

#external-events p input {
    margin: 0;
    vertical-align: middle;
}

#calendar-wrap {
    margin-left: 200px;
}

#calendar1 {
    max-width: 1100px;
    margin: 0 auto;
}




.login_button {
    background-color: rgb(243, 101, 31);
}

.login {
    font-family: "Gothic A1", sans-serif;
    font-weight: 800;
    font-style: normal;
}

